# Base de datos
# Fase 0 (local): SQLite -> DATABASE_URL="file:./dev.db"
# Producción (Fase 4): PostgreSQL -> DATABASE_URL="postgresql://user:pass@host:5432/db"
DATABASE_URL="file:./dev.db"

# Auth
JWT_SECRET="pon-aqui-un-secreto-largo-y-aleatorio"
JWT_EXPIRES_IN="7d"

# Server
PORT=4000
WEB_ORIGIN="http://localhost:3000"
